/* Put your custom styles here */
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css";

.login-background{
    background: url(3db802049389497c94927cb6dd7d6edf.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    display: grid;
    align-content: center;
    margin: auto;
    width: 30%;
    min-width: 400px;
    height: 100%;
}

@media screen and (max-height: 800px) {
    .wrapper {
        margin-top: 4rem;
    }
}

.login-box{
    background: rgba(0, 39, 196, 0.6);
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-color: yellow;
    padding: 40px;
}

.login-box h1{
    float: left;
    font-size: 50px;
    border-bottom: 6px solid yellow;
    margin-bottom: 25px;
    padding: 10px 0;
    color: yellow;
}

.textbox{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid yellow;
}

.textbox i {
    color: yellow;
    width: 6%;
}

.input-glf {
    border:none;
    border-bottom: 1px solid yellow;
    padding: 5px 10px;
    outline: none;
    width: 92%;
}

.btn-glf{
    font-weight: 500;
    width: 100%;
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    padding: 5px;
    font-size: 18px;
    margin: 12px 0
}

.btn-glf:hover {
    background-color: yellow;
    color: black;
}
