/* Put your custom styles here */
a.navbar-brand {
    color: yellow;
}
a.nav-link:hover {
    color: yellow;
}

.profile {
    background: url("https://steamuserimages-a.akamaihd.net/ugc/949579868316400106/667E62BCDC4F0077104EAA826A5D825CDEF5B0C8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}
.profile_card {
    background: rgba(0, 39, 196, 0.6);
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-color: yellow;
    padding: 40px;
}
.wrapper {
    display: grid;
    align-content: center;
    margin: auto;
    width: 30%;
    min-width: 400px;
    height: 100%;
}

@media screen and (max-height: 800px) {
    .wrapper {
        margin-top: 4rem;
    }
}

.profile_text {
    text-align: center;
}
.profile_info {
    padding-top: 2rem;
}
.scores {
    padding-top: 2rem;
}
.name_score:hover {
    color: rgb(255, 21, 21);
}
.name_score {
    font-size: 30px;
    color: yellow;
}
.top {
    position: relative;
    font-size: 20px;
    color: yellow;
    padding: 7px 50px;
}
.frame {
    border-style: solid;
    border-color: yellow;
}
.avatar {
    height: 130px;
    width: 130px;
    position: relative;
    align-content: center;
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    padding: 10px;
    opacity: 1;
}
.avatar:hover {
    margin: 0px;
    padding: 0px;
    border-style: none;
    transform: scale(1.3);
}
