/* Put your custom styles here */
.profile {
    background: url("https://steamuserimages-a.akamaihd.net/ugc/949579868316400106/667E62BCDC4F0077104EAA826A5D825CDEF5B0C8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    position:absolute;
}
.profile_card {
    opacity:0.6;
    background: rgb(0, 39, 196);
    width:30%;
    height: 88%;
    position: absolute;
    left:35%;
    top: 6%;
    border-radius: 20px;
    border-style: solid;
    border-color: yellow;
    padding:40px;
}
.profile_text {
    text-align: center;
}
.user_name {
    position:relative;
    top: 220px;
    font-size: 30px;
    color: yellow;
}
.user_name:hover {
    color: rgb(255, 21, 21);
}
.maximum_score {
    position:relative;
    top: 250px;
    font-size: 30px;
    color: yellow;
}
.maximum_score:hover {
    color: rgb(255, 21, 21);
}
.top {
    position:relative;
    top: 270px;
    font-size: 20px;
    color: yellow;
    display:inline;
    border-style: solid;
    border-color: yellow;
    padding: 3px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
.top1 {
    position:relative;
    top: 300px;
    font-size: 20px;
    color: yellow;
}
.top2 {
    position:relative;
    top: 310px;
    font-size: 20px;
    color: yellow;
}
.top3 {
    position:relative;
    top: 320px;
    font-size: 20px;
    color: yellow;
}
.avatar {
    height:130px;
    width:130px;
    position:relative;
    align-content: center;
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    padding:10px;
    top: -145px;
}
.avatar:hover {
    height:150px;
    width:150px;
    padding: 0px;
    border-style: none;
}


