{% extends 'base.html' %}

{% block content %}

    <div class="profile">
        <div class="profile_card">
        </div>
    <div class="profile_text">
        <h1 class="user_name">user_name</h1>
        <h1 class="maximum_score">Maximum score: 0</h1>
        <h1 class="top">Top 3 players:</h1>
        <h1 class="top1">user1</h1>
        <h1 class="top2">user2</h1>
        <h1 class="top3">user3</h1>
        <img src="https://avatarfiles.alphacoders.com/103/thumb-103261.gif" class="avatar">
    </div>
    </div>

{% endblock %}